 /* Styling for results bar */
  
 .game-display.showing-results{
    width: 100%;
    background-color: var(--offWhiteBackground);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
  }
  
  .game-display.showing-results:hover{
    background-color: gray;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .game-cover.showing-results {
    width: 120px;
  }
  
  .game-description-box.showing-results {
    margin-left: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
  }
  
  .game-descriptor.showing-results {
    margin-top: 5%;
    font-size: 1rem;
    font-weight: bolder;
  }